<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="eba">
      <section name="storage" type="EBA.Modules.Storages.StorageConfigurationSection,EBA.Modules" />
    </sectionGroup>
  </configSections>
  <eba>
    <storage>
    </storage>
  </eba>
  <appSettings>
    <add key="AttachmentPath" value="E:\Webapps\ProjectDesigner\WEB\UploadFile\" />
    <add key="AttachmentMaxLength" value="20480000" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>


  <connectionStrings>

    <add name="EntityContext" connectionString="metadata=res://*/EntityContext.csdl|res://*/EntityContext.ssdl|res://*/EntityContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.5.1.130;Initial Catalog=ProjectDesigner;User ID=sa;Password=870415yw;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>
