<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EntityContext" connectionString="metadata=res://*/EntityContext.csdl|res://*/EntityContext.ssdl|res://*/EntityContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=POLICE-YUWEN-PC;initial catalog=ProjectDesigner;persist security info=True;user id=sa;password=870415yw;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>