<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="EntityContext" connectionString="metadata=res://*/EntityContext.csdl|res://*/EntityContext.ssdl|res://*/EntityContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=ProjectDesigner;user id=sa;password=870415yw;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>